@import "root/root.css";
@import "root/header.css";
@import "root/footer.css";

.link {
    color: #125185;
}
main{
	margin: 2vw 0;
}

h2 {
    color: #89BCE6;
    padding-bottom: 0.3vw;
    width: 12vw;
}

h1{
    padding-bottom: 1vw;
    color: #89BCE6;
}

input {
    width: 230px;
    height: 30px;
    border-radius: 10px;
}

button {
    margin-bottom: 1vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.practic {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 3vw;
}

.btn {
    padding: 0.5vw 0.4vw;
    border-radius: 10px;
    color: white;
    background-color: #125185;
    cursor: pointer;
	margin-top: 0.5vw;
}