@import "root/root.css";
@import "root/header.css";

main {
    margin: 2vw 0;
}

h1{
    padding-bottom: 1vw;
    color: #89BCE6;
}

p {
    padding-bottom: 0.2vw;
}

.link {
    color: #125185;
}

.btn {
    padding: 0.5vw 0.4vw;
    border-radius: 10px;
    color: white;
    background-color: #125185;
    cursor: pointer;
}

.main-container {
    display: flex;
    margin: 0 5vw;
    justify-content: space-between;
}

.content {
    margin-bottom: 1vw;
}

.form-btn {
    display: flex;
    justify-content: row;
    gap: 0.5vw;
}