@import "root/root.css";
@import "root/header.css";
@import "root/footer.css";

.link {
    color: #125185;
}

h2 {
    color: #89BCE6;
    padding-bottom: 0.5vw;
    width: 275px;
}

input {
    width: 230px;
    height: 30px;
    border-radius: 10px;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vw 0;
}

.practic {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 3vw;
}

.practic > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    padding: 0.5vw 0.4vw;
    border-radius: 10px;
    color: white;
    background-color: #125185;
    cursor: pointer;
}
